name: Docker Image CI

on:
  workflow_dispatch:
  push:
    branches: [ "trunk" ]
    paths:
      - '.github/workflows/docker.yml'
      - 'Dockerfile'
  pull_request:
    branches: [ "trunk" ]
    paths:
      - '.github/workflows/docker.yml'
      - 'Dockerfile'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/slackware-build-essential:15.0
          cache-from: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/slackware-build-essential:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/slackware-build-essential:buildcache,mode=max
