name: Docker Image CI

on:
  workflow_dispatch:
  push:
    branches: [ "trunk" ]
    paths:
      - '.github/workflows/docker.yml'
      - 'Dockerfile'
  schedule:
    - cron: '40 22 6/15 * *'

jobs:
  docker:
    runs-on: ubuntu-latest
    env:
      SBOPKG_VER: 0.38.2
    steps:
      -
        uses: actions/checkout@v3
        with:
          submodules: true
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          build-args: |
            SBOPKG_VER=${{ env.SBOPKG_VER }}
            SBOPKG_NAME=sbopkg-${{ env.SBOPKG_VER }}-noarch-1_wsr.tgz
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/slackware-build-essential:15.0
          cache-from: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/slackware-build-essential:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/slackware-build-essential:buildcache,mode=max
